<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="logan" class="com.logan.springbootofficial.bean.spring.Logan">
        <property name="typeMap">
            <map key-type="java.lang.String" value-type="java.util.List">
                <entry key="read" value="qry,read,select,query,find" />
                <entry key="write" value="add,del,mod,update,insert,delete" />
            </map>
        </property>
    </bean>
</beans>